button {
	margin: 5px;
	background-color: #ee533c;
	width: auto;
    font-size: 20px;
    color: white;

}

p {
	font-size: 30px; 
}
.item {
	float: left;
	margin: 20px 10px;
}

#button-view {
	float: left;
}

form {
	float: right;
	margin: 5px;
}

.container {
	margin-top: 20px;
}

input {
	margin-top: 5px;
}